page .container
  padding 10rpx 45rpx
  scroll-view
    height 100vh
  .list
    width 100%
    padding 0 20rpx 30rpx 20rpx
    margin-bottom 30rpx
    border-bottom .5px solid #c1c1c1
    position relative
    text
      display block
      margin-bottom 25rpx
      &.t1
        font-size 30rpx
        color #000
      &.t2
        color #929292
        font-size 24rpx
      &.t5
          margin-bottom 0

      &.t3
        margin-top 30rpx
        font-size 24rpx
        color #F80952
    .t4
      position absolute
      right 43rpx
      top 20rpx
      font-size 26rpx
      color #F10685

    .bu
      width 100%
      display flex
      justify-content space-between
      margin-top 30rpx
      navigator,view
        width 40%
        height 50rpx
        line-height 50rpx
        text-align center
        letter-spacing 3rpx
        color #ffffff
        border-radius 2px
        background-color #ED902D
      view
          background-color #17BD7D
  .none
     width 100%
     font-size 30rpx
     text-align center
     margin 40rpx auto 0 auto